
.idea/encodings.xml
.idea/GB-Py-Q1-Algorithms_and_data_structures_in_Python.Basic_course.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
