Урок 1. Практическое задание/task_1.py
Урок 1. Практическое задание/task_2.py
Урок 1. Практическое задание/task_3.py
Урок 1. Практическое задание/task_4.py
Урок 1. Практическое задание/task_5.py
Урок 1. Практическое задание/task_6.py
Урок 1. Практическое задание/task_7.py
Урок 1. Практическое задание/task_8.py
Урок 1. Практическое задание/task_9.py
Урок 1. Практическое задание/Примечание.txt
.vscode/settings.json
